@model Movies_Point.ViewModels.ActorViewModel

@{
    ViewData["Title"] = "Create";
    ViewData["action"] = "SaveNew";
}

<h1>Create</h1>

<hr />
<partial name="_CreateEditActorsPartial.cshtml"></partial>