@model Movies_Point.ViewModels.ActorViewModel

@{
    ViewData["Title"] = "Edit";
    ViewData["action"] = "SaveEdit";
}

<h1>Edit</h1>

<hr />
<partial name="_CreateEditActorsPartial.cshtml"></partial>